@use '_variables' as *; 

.our-team {
	padding: 30px 0 40px;
	margin-bottom: 30px;
	background-color: $iu_cream;
	text-align: center;
	overflow: hidden;
	position: relative;
	height: 90%;
	.picture {
		display: inline-block;
		height: 130px;
		width: 130px;
		// margin-bottom: 50px;
		z-index: 1;
		position: relative;
		&::before {
			content: "";
			width: 100%;
			height: 0;
			border-radius: 50%;
			background-color: $iu_crimson;
			position: absolute;
			bottom: 135%;
			right: 0;
			left: 0;
			opacity: 0.9;
			transform: scale(3);
			transition: all 0.3s linear 0s;
		}
		&::after {
			content: "";
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-color: $iu_crimson;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}
		img {
			width: 100%;
			height: auto;
			border-radius: 50%;
			transform: scale(1);
			transition: all 0.9s ease 0s;
		}
	}
	&:hover {
		.picture {
			&::before {
				height: 100%;
			}
			img {
				box-shadow: 0 0 0 14px #f7f5ec;
				transform: scale(0.7);
			}
		}
		.social {
			bottom: 0;
		}
	}
	.team-content {
		a {
			text-decoration: none;
			color: $iu_crimson;

			&:hover {
				color: $iu_cirmson_dark;
			}
		}
		.name {
			text-decoration: none;
			overflow: hidden;
			// color: $iu_crimson;
		}
		.title {
			display: block;
			font-size: 15px;
			color: $iu_black;
			text-transform: capitalize;
			padding-bottom: 1rem;
		}
	}
	.social {
		width: 100%;
		padding: 0;
		margin: 0;
		background-color: $iu_crimson;
		position: absolute;
		bottom: -100px;
		left: 0;
		transition: all 0.5s ease 0s;
		li {
			display: inline-block;
			a {
				display: block;
				padding: 10px;
				font-size: 17px;
				color: $iu_cream;
				transition: all 0.3s ease 0s;
				text-decoration: none;
				&:hover {
					color: $iu_crimson;
					background-color: $iu_cream;
				}
			}
		}
	}
}
