/*-- scss:defaults --*/

$font-family_1: tahoma;
$iu_cream: #EDEBEB;
$iu_crimson: #990000;
$iu_black: #191919;
$iu_cirmson_light: #DD0031;
$iu_cirmson_dark: #4C1213;
$iu_majestic: #512A44;
$iu_orange: #DF3603;
$iu_gold: #FFAA00;
$iu_green: #056E41;
$iu_purple: #59264D;